<mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let question of questions">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{question.question}}
        </mat-panel-title>
        <mat-panel-description>
            
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{question.CA}}</p>
      <p>{{question.CB}}</p>
      <p>{{question.CC}}</p>
      <p>{{question.CD}}</p>
      <mat-action-row>
        <button mat-button color="warn" (click)="deleteQuestion(question)"> Delete </button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel >
  